<div class="nav-menu">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Free Tour</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Adventure Tour</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Inner Blog</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
    </ul>
</div>
<img class="main" src="assets/images/hình-ảnh-bãi-biển.jpg">

<brc-booking></brc-booking>